body {
}

.error {
    color:Red;
    font-weight:bold;
    font-size: 1.1em;
}
.success {
    color:green;
    font-weight:bold;
    font-size: 1.1em;
}
.borderClass {
    background-color:red;
}
.watermark
{
	background: #FFAAFF;
}

.popupControl
{
	background-color:#AAD4FF;
	position:absolute;
	visibility:hidden;
	border-style:solid;
	border-color: Black;
	border-width: 2px;
}